/*************************************************
**************************************************
    Copyright © 2025 Magic Plus. All Rights Reserved.
    Brand Identity Designer: @GoBadri
    Brand Guidline | May 2025 | Version 1.0
------------------------------------------------
----------------------------------------------*/

:root{
    --ff: "IBM Plex Sans Arabic", sans-serif;
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    --clr-accent-100: #c8ab37;
    --clr-accent-200: #8c7826;
    --clr-accent-300: #726220;

    --clr-neutral-100: #fff;
    --clr-neutral-200: #dddddd;
    --clr-neutral-300: #b3b3b3;
    --clr-neutral-400: #9b9b9b;
    --clr-neutral-600: #4d4d4d;
    --clr-neutral-700: #2d2d2d;
    --clr-neutral-800: #1a1a1a;
    --clr-neutral-900: #000;

    --border-radius: 1rem;
    --flex-dir: row;
    --gap: 2rem;
    --fs: 1rem;
    
    
    --clr-body-BG: var(--clr-neutral-300);
    --clr-body-FG: var(--clr-neutral-200);
    --clr-card-BG: var(--clr-neutral-100);
    --clr-text: var(--clr-neutral-900);
    --clr-text-washed: var(--clr-neutral-700);
    --clr-heading: var(--clr-accent-200);
    --clr-heading-washed: var(--clr-accent-300);
    --clr-shadow: var(--clr-neutral-300);
    --clr-BW: var(--clr-neutral-100);
    

    @media (prefers-color-scheme: dark) {
      --clr-body-BG: var(--clr-neutral-800);
      --clr-body-FG: var(--clr-neutral-700);
      --clr-card-BG: var(--clr-neutral-700);
      --clr-text: var(--clr-neutral-100);
      --clr-text-washed: var(--clr-neutral-300);
      --clr-heading: var(--clr-accent-100);
      --clr-heading-washed: var(--clr-accent-300);
      --clr-shadow: var(--clr-neutral-900);
      --clr-BW: var(--clr-neutral-900);
    }    
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* Cursor */
html{
  cursor: url(/cursor.svg), auto;
  scroll-behavior: smooth;
}

/* Text selection */
::-moz-selection {
  color: var(--clr-neutral-800);
  background: var(--clr-accent-200);
}

::selection {
  color: var(--clr-neutral-800);
  background: var(--clr-accent-200);
}


/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 80%;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-accent-100);
  border-radius: 100vw;
  border: solid 2px #000;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--clr-accent-200);
}

  /*----------------------------------------------
  ------------------------------------------------
  1. Universal Styles
  ------------------------------------------------
  ----------------------------------------------*/
  body {
    font-family: var(--ff);
    background-color: var(--clr-body-BG);
    color: var(--clr-text);
  }
  /*----------------------------------------------
  ------------------------------------------------
  2. Header & Nav Styles
  ------------------------------------------------
  ----------------------------------------------*/

  #featuredImg{
    display: none;
  }

  header{
    position: fixed;
    top: 0;
    display: grid;
    place-items: center;
    background-color: var(--clr-body-FG);
    width: 100%;
    filter: drop-shadow(0 2px 10px var(--clr-shadow));
    padding: .5rem;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  header svg{
    max-width: 6rem;
  }

  #path1236{
    fill: #88e5e6;
  }

  #path1241{
    fill: #e68892;
  }

  #path1250{
    fill: #8e505d;
  }

  #path1243{
    fill: #000;

    @media (prefers-color-scheme: dark) {
      fill: #fff;
    }
  }

  .nav-slider{
    --translate: 19.5rem;
    --width: calc(var(--translate) + .5rem);

    position: relative;
    background-color: var(--clr-accent-300);
    width: fit-content;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    padding-block: calc(var(--gap) * 1.5);
    position: fixed;
    right: 0;
    top: 14%;
    transform: translateX(var(--translate));
    z-index: 9999;
    transition: transform 250ms ease;
  }

  .decor-strip{
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--clr-accent-200);
    width: .5rem;
    height: 7rem;
    border-radius: 100vh;
  }

  .nav-slider:hover,
  .nav-slider:focus-within{
    transform: translateX(0);
  }

  .nav{
    display: grid;
    grid-template-columns: 1fr;
  }

  .list{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
  }

  .list-item{
    width: 90%;
    grid-column: 1/-1;
    border-bottom: 1px solid var(--clr-accent-200);
  }
  

  .link{
    display: inline-block;
    width: var(--width);
    text-decoration: none;
    color: var(--clr-text);
    font-size: calc(var(--fs) * .9);
    font-weight: 500;
    transition: all 250ms ease;
    padding: calc(var(--gap) * .25) calc(var(--gap) * 1.5);
    
  }

  .link:hover{
    background-color: var(--clr-accent-100);
    color: var(--clr-neutral-900);
  }

  .nav ul ul{
    margin-inline-start: calc(var(--fs) * 1.2);
  }

  .nav ul ul a{
    font-weight: 300;
  }

  .nav-col-two{
    margin-block-start: calc(var(--gap) * 0.25);
  }

  .nav-col-two > .list-item{
    border-bottom: none;
  }

  /*----------------------------------------------
  ------------------------------------------------
  3. Main Body Styles
  ------------------------------------------------
  ----------------------------------------------*/
  main{
    width: 80%;
    background-color: var(--clr-body-FG);
    margin-inline: auto;
    margin-top: 14vh;
    margin-bottom: 10vh;
    padding: 10rem 5rem;
    border-radius: var(--border-radius);
  }

  .container{
    margin-inline: auto;
    max-width: 80%;
    display: grid;
    place-items: center;
    gap: 3rem;
  }

  .page-title{
    display: grid;
    place-items: center;
  }

  h1{
    color: var(--clr-heading);
    font-weight: var(--fw-800);
    font-size: calc(var(--fs) * 3);
  }

  h2{
    color: var(--clr-heading);
    font-weight: var(--fw-600);
    font-size: calc(var(--fs) * 1.5);
  }

  h3{
    color: var(--clr-heading-washed);
    font-weight: var(--fw-600);
    font-size: calc(var(--fs) * 1.2);
  }

  h5{
    color: var(--clr-heading-washed);
    font-weight: var(--fw-600);
    font-size: var(--fs);
  }

  p{
    color: var(--clr-text);
    font-weight: var(--fw-400);
    font-size: calc(var(--fs) / 1.1);
    line-height: 1.7em;
  }

  .text-only{
    width: 100%;
  }

  .full-width-img{
    width: 100%;
    border-radius: var(--border-radius);
  }

  .img-right, .img-left{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: var(--gap);
  }

  .img-right img{
    width: 100%;
    padding: calc(var(--gap) * 4);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 0.5px solid var(--clr-shadow);
    border-radius: calc(2*var(--border-radius));
  }

  .img-left img{
    width: 35%;
    justify-self: end;
  }


  .txt-block{
    display: grid;
    padding-inline-start: calc(var(--gap) * 1.5);
    gap: calc(var(--gap) * .25);
  }

  .img-left .content{
    width: 150%;
  }

  .img-right .content{
    align-self: start;
  }

  iframe{
    min-width: 100%;
    aspect-ratio: 16/9;
    border: 0.5px solid var(--clr-shadow);
    border-radius: calc(2*var(--border-radius));
  }

  .grid{
    width: 100%;
    padding: 2rem;
    display: grid;
    place-items: center;
    gap: var(--gap);
  }

  .special-grid{
    align-self: start;
  }

  .grid h3{
    justify-self: start;
  }

  .grid-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: calc(var(--gap) / 2);
  }

  .grid-item{
    padding: 1rem;
    display: grid;
    place-items: center;
    gap: calc(var(--gap) / 3);
    border: 0.5px solid var(--clr-shadow);
    border-radius: var(--border-radius);
  }

  .full-width{
    width: 100% !important;
    object-fit: cover;
  }

  .full-width-item{
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .quarter-width-item{
    width: 25%;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .grid-item img{
    width: 80%;
  }

  .grid-item h5{
    place-self: start;
  }

  section{
    width: 100%;
    display: grid;
    place-items: center;
    gap: var(--gap);
  }

  section ol{
    justify-self: start;
    display: grid;
    gap: calc(var(--gap) * .5);
    padding-inline-start: calc(var(--gap) * 1);
  }

  section ol a{
    text-decoration: none;
    color: var(--clr-accent-100);
  }

  .gallery{
    width: 100%;
    padding-block-start: 7rem;
    display: grid;
    gap: var(--gap);
  }

  .black{
    background-color: var(--clr-neutral-900);
    border: none;
  }

  .different{
    background-color: var(--clr-neutral-700);
    border: none;

    @media (prefers-color-scheme: dark) {
      background-color: var(--clr-neutral-800);
    } 
  }

  .different h5{
    color: var(--clr-accent-100);
  }

  .different p{
    color: var(--clr-neutral-100);
  }

  .white{
    background-color: var(--clr-neutral-100);
    border: none;
  }

  .bronze{
    background-color: var(--clr-accent-200);
    border: none;
  }

  .shine{
    background-color: var(--clr-accent-100);
    border: none;
  }

  .img-top{
    width: 100%;
    display: grid;
    place-items: center;
    gap: var(--gap);
  }

  .img-top h3{
    justify-self: start;
    margin-top: calc(var(--gap) * 2);
  }

  .img-top img{
    max-width: 100%;
    border: 0.5px solid var(--clr-shadow);
    border-radius: calc(2*var(--border-radius));
  }

  .two-columns{
    display: flex;
    flex-direction: var(--flex-dir);
    gap: var(--gap);
    justify-content: space-around;
  }

  .two-columns p{
    flex-grow: 1;
    flex-basis: 0;
  }

  .post{
    width: 100%;
  }

  .post h3{
    justify-self: start;
    margin-top: calc(var(--gap) * 2);
  }

  

  .postdesign{
    width: 100%;
    display: flex;
    flex-direction: var(--flex-dir);
    gap: var(--gap);
    margin-block: calc(var(--gap) * 1);
    align-items: center;
  }

  .postdesign > img{
    width: 30%;
    padding: 0;
    border-radius: calc(var(--border-radius) / 2);
    border: 0.5px solid var(--clr-shadow);
    
  }

  .postdesign p{
    flex-grow: 1;
    flex-basis: 0
  }

  .threeRows p:nth-child(1){
    font-weight: var(--fw-600);
  }

  .threeRows p:nth-child(2){
    font-weight: var(--fw-300);
  }

  .threeRows p:nth-child(3){
    font-weight: var(--fw-100);
  }

  #threeImg{
    border: none;
  }

  
  .card-content{
    flex-grow: 1;
    flex-basis: 0;
    display: grid;
    gap: var(--gap);
    place-items: center;
  }

  .card-content img{
    border-radius: 0;
    border: none;
  }

  .cardss{
    padding: var(--gap);
    align-items: space-around;
    justify-content: space-around;
  }




  /*----------------------------------------------
  ------------------------------------------------
  6. Footer Styles
  ------------------------------------------------
  ----------------------------------------------*/
  footer{
    width: 100%;
    background-color: var(--clr-body-FG);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: var(--gap);
  }

  .footer-container{
    display: flex;
    gap: calc(var(--gap) * 2);
    flex-direction: var(--flex-dir);
    align-items: center;
  }

  .copyrights{
    direction: ltr;
  }

  .copyrights ul{
    font-family: var(--ff);
    list-style: none;
  }

  .copyrights ul a{
    color: inherit;
  }

  .copyrights ul li{
    font-size: calc(var(--fs) / 1.2);
  }

  /*----------------------------------------------
  ------------------------------------------------
  7. Grids
  ------------------------------------------------
  ----------------------------------------------*/

  .gallery-grid{
    width: 100%;
    display: grid;
    gap: calc(var(--gap) * .5);
    grid-template-areas: 
      'one'
      'two'
      'three'
      'four'
      'five'
      'six'
      ;

    @media (width > 1200px){
      grid-template-areas: 
        'one two three'
        'one four four'
        'five five six'
        ;
    }
    
  }

  .gallery-grid-item{
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: clip;
  }

  .gallery-grid-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery-grid> :nth-child(1){
    grid-area: one;
  }

  .gallery-grid> :nth-child(2){
    grid-area: two;
  }

  .gallery-grid> :nth-child(3){
    grid-area: three;
  }

  .gallery-grid> :nth-child(4){
    grid-area: four;
  }

  .gallery-grid> :nth-child(5){
    grid-area: five;
  }

  .gallery-grid> :nth-child(6){
    grid-area: six;
  }

  .portrait{
    aspect-ratio: 1 / 1;

    @media (width > 1200px){
      aspect-ratio: 1 / 2;
    }
  }

  .landscape{
    aspect-ratio: 1 / 1;

    @media (width > 1200px){
      aspect-ratio: 2 / 1;
    }
  }

  @media (width < 70em){
    :root{
        --border-radius: .5rem;
        --flex-dir: column;
        --gap: .5rem;
        --fs: .7em;
    }

    header img{
      max-width: 3.125rem;
    }

    main{
        width: 95%;
        padding: 3rem .25rem;
    }

    .container{
        max-width: 95%;
    }

    .img-right .content{
        width: 100%;
    }

    .img-left img{
        grid-row: 1;
        justify-self: center;
    }

    .img-left .content{
        width: 100%;
    }

    .postdesign{
        margin-block: calc(var(--gap) * 2);
      }

    .postdesign > img{
        width: 100%;
    }

    .threeColors{
      flex-direction: row !important;
    }

    #threeImg{
      width: 70%;
    }

    footer{
      padding-block: calc(var(--gap) * 3);
    }

    .footer-container{
      flex-direction: column-reverse;
    }

    .footer-container img{
      width: 25%;
    }
  }